
<div class="container">
<div class="jumbotron">
                    <legend class="text-secondary">
                        <center>Employee Reimbursement System</center>
                    </legend>
                </div>
    <br>
<div class="form-inline">
<h2 id="hW">Welcome</h2>    
<div  style="margin-left:600px;" >
<input type="button" class="btn-primary" value="Sign out" onclick="Signout();"></input>
</div>
</div>

    
    <br>
    <br>
	<table id="requestTbl2" class="display" width="100%"></table>
	<script src="Partials/MRequest.js" type="text/javascript"></script>
